.RegisterContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../../assets/loginpagebg.webp");
}

.RegisterContainer-leftContent {
  width: 35%;
}

.RegisterContainer-rightContent {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #000;
  height: 65%;
  background-image: radial-gradient(rgb(195, 210, 216),rgb(22, 169, 159));
  background-size: cover;
}

.registerform-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterContainer-heading {
  font-size: 45px;
  color: #106262;
  font-family: "Bree Serif";
  font-weight: bold;
  margin-bottom: 10px;
}
.RegisterContainer-subtitle {
  font-size: 24px;
  width: 100%;
}
/*form styling */

.register-title {
  font-family: "Bree Serif";
  font-size: 32px;
  font-weight: 600;
  color: rgb(11, 55, 55);
  margin-bottom: 15px;
}
.input-field {
  border-radius: 6px;
  border: 1px solid #000;
  margin: 10px 0;
  width: 70%;
  padding: 6px;
  display: flex;
  align-items: center;
}
.register-input {
  border: 0;
  outline: 0;
  margin-left: 10px;
  font-size: 16px;
  color: #0e564c;
  background-color: transparent;
}
.register-btn {
  width: 30%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #000;
  font-size: 18px;
  font-family: "Bree Serif";
  cursor: pointer;
  margin: 15px 0;
  background-color: transparent;
}
.register-btn:hover {
  background-color: #000;
  color: #fff;
}
.social-login{
  height: 75px;
  display: flex;
  align-items: center;
}
.social-icons {
  background-color: transparent;
  border: 0;
  font-size: 24px;
  margin: 10px 10px;
  cursor: pointer;
}
.social-icons:hover {
  color: #000;
  font-size: 35px;
}
.login-signup{
  font-size: 18px;
  font-family: "Bree Serif";
  color: #000;
  text-decoration: none;
}
.showLabel{
  font-family: "Bree Serif";
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}