.section3 {
  background-image: url("../../assets/30.webp");
  padding: 50px 0px;
  text-align: center;
}
.section3-heading {
  font-size: 40px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin-top: 3%;
}

.section3-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
@media screen and (max-width: 768px) {
  .section3-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px 50px;
    padding: 50px 50px;
  }
}

.section3-container .custom-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
  max-width: 100%;
  height: 300px;
  background: #0e1a18;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.section3-container .custom-card:hover {
  height: 300px;
}

.section3-container .custom-card .img-box {
  position: absolute;
  top: 20px;
  width: 400px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.section3-container .custom-card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.section3-container .custom-card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3-container .custom-card .custom-content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.section3-container .custom-card:hover .custom-content {
  top: 130px;
  height: 250px;
}

.section3-container .custom-card .custom-content .section3-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.section3-container .custom-card .custom-content .section3-subtitle {
  color: #fff;
}

.section3-container .custom-card .custom-content .services-btn {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #181818;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.section3-container .custom-card .custom-content .services-btn:hover {
  opacity: 0.8;
  color: #000;
  background-color: #fff;
}

@media (max-width: 480px) {
  .section3-container .custom-card {
    width: 230px;
    border-radius: 15px;
  }

  .section3-container .custom-card .img-box {
    width: 185px;
    border-radius: 10px;
  }

  .section3-container .custom-card .custom-content .section3-subtitle {
    font-size: 16px;
  }

  .section3-container .custom-card .custom-content .services-btn {
    font-size: 14px;
  }
}


/* section 4 styling */

.section4 {
  max-width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section4left {
  padding: 4%;
  width: 40%;
}
.section4-heading {
  width: 100%;
  font-size: 50px;
  font-family: "Arial";
  text-align: right;
}
.section4-subtitle {
  font-size: 18px;
  padding-left: 20%;
  text-align: right;
  font-family: "Chakra Petch", sans-serif;
  margin-top: 15px;
  color: #313030;
}
.section4right {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section4-img1 {
  align-self: flex-end;
  height: 60%;
  width: 30%;
  background-size: cover;
  margin: 5px;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.section4-img2 {
  align-self: center;
  height: 60%;
  width: 30%;
  margin: 5px;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.section4-img3 {
  align-self: flex-start;
  height: 60%;
  width: 30%;
  margin: 5px;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.section4-img1:hover,
.section4-img2:hover,
.section4-img3:hover {
  box-shadow: 1px 8px 20px black;
  transition: box-shadow 0.3s ease-in;
}
.rightsection4-img1 {
  height: 60%;
  width: 30%;
  margin: 5px;
  align-self: flex-start;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.rightsection4-img2 {
  height: 60%;
  width: 30%;
  margin: 5px;
  align-self: center;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.rightsection4-img3 {
  height: 60%;
  width: 30%;
  margin: 5px;
  align-self: flex-end;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.rightsection4-img1:hover,
.rightsection4-img2:hover,
.rightsection4-img3:hover {
  box-shadow: 1px 8px 20px black;
  transition: box-shadow 0.3s ease-in;
}
.section-cleaning {
  max-width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 20px;
}
.sectioncleaningright {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding: 5%;
}
.sectioncleaningleft {
  width: 40%;
  padding: 4%;
}
.section4-cleaning-heading {
  width: 100%;
  font-size: 50px;
  font-family: "Arial";
  text-align: left;
}
.section4-cleaning-subtitle {
  font-size: 18px;
  padding-right: 20%;
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
  margin-top: 15px;
  color: #313030;
}
@media screen and (max-width: 786px) {
  .section4,
  .section-cleaning {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
  }
  .section4left,
  .sectioncleaningright,
  .sectioncleaningleft {
    min-width: 90vw;
  }
  .section4right {
    max-width: 100%;
    padding: 10px;
    padding-bottom: 20px;
  }
  .section4-heading,
  .section4-cleaning-heading {
    text-align: center;
    font-size: 32px;
    width: 100%;
  }
  .section4-subtitle,
  .section4-cleaning-subtitle {
    font-size: 16px;
    text-align: center;
    padding: 0;
    width: 100%;
  }
  .sectioncleaningleft {
    order: 0;
  }
  .sectioncleaningright {
    order: 1;
  }
}
@media screen and (min-width: 787px) {
  .section4 {
    height: 50vh;
  }
  .section4right {
    width: 60%;
    height: 100%;
    padding: 5%;
  }
  .section-cleaning {
    height: 50vh;
  }
}