.ServicesSection {
  background-image: url("../../assets/30.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 89.5%;
}

.ServicesSection-heading {
  font-size: 40px;
  font-family: "Bree Serif";
  margin: 25px 0px;
}

.ServicesSection-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  text-align: center;
}

.ServicesSection-card-element {
  margin-bottom: 50px;
  min-width: 300px;
  width: 35%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0.8px 0.9px 3px grey;
  transition: box-shadow 0.6s ease-out;
}

.ServicesSection-card-element:hover {
  box-shadow: 1px 8px 20px grey, 0 0 20px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.6s ease-out;
}


.ServicesSection-card-image {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.ServicesSection-card-heading {
  font-size: 30px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin-top: 15px;
}

.ServicesSection-card-subtitle {
  padding: 10px;
  font-size: 18px;
  font-family: "sans-serif";
  color: #313030;
}

.ServicesSection-btn {
  margin-bottom: 25px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 25px;
}

.ServicesSection-btn:hover {
  background: transparent;
  color: #000;
  border: 0.5px solid black;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .ServicesSection-cards-container {
    display: flex;
    flex-direction: column;
  }

  .ServicesSection-card-element {
    min-width: 300px;
    margin-top: 0;
  }
}


