.ServicesNavbar {
  background-image: url("../../assets/30.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ServicesNavbar-heading {
  font-size: 40px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin-top: 15px;
}
.ServicesNavbar-cards-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  text-align: center;
}
.ServicesNavbar-card-element {
  margin-bottom: 50px;
  min-width: 300px;
  width: 35%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.ServicesNavbar-card-element:hover {
  box-shadow: 1px 8px 20px grey;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.6s ease-out;
}
.ServicesNavbar-content {
  margin-bottom: 20px;
}
.ServicesNavbar-card-image {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.ServicesNavbar-card-heading {
  font-size: 30px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin-top: 15px;
}
.ServicesNavbar-card-desc {
  padding: 10px;
  font-size: 18px;
  font-family: "sans-serif";
  margin-top: 15px;
  color: #313030;
}
.ServicesNavbar-btn {
  margin-bottom: 25px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 25px;
}
.ServicesNavbar-btn:hover {
  background: transparent;
  color: #000;
  border: 0.5px solid black;
  font-weight: 600;
}

@media screen and (max-width: 740px) {
  .ServicesNavbar-cards-container {
    display: flex;
    flex-direction: column;
  }
  .ServicesNavbar-card-element {
    min-width: 300px;
    margin-top: 0;
  }
}
@media screen and (min-width: 741px) {
  .ServicesNavbar-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .ServicesNavbar-card-element {
    margin-top: 10%;
  }
}
