.section3 {
  background-image: url("/src/assets/30.webp");
  padding: 50px 0px;
  text-align: center;
}
.section3-heading {
  font-size: 40px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin-top: 3%;
}

@media screen and (max-width: 786px) {
  .section3-heading {
    font-size: 26px;
  }
}

.section3-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
@media screen and (max-width: 768px) {
  .section3-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px 50px;
    padding: 50px 50px;
  }
}

.section3-container .custom-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
  max-width: 100%;
  height: 300px;
  background: #0e1a18;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.section3-container .custom-card:hover {
  height: 300px;
}

.section3-container .custom-card .img-box {
  position: absolute;
  top: 20px;
  width: 400px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.section3-container .custom-card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.section3-container .custom-card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3-container .custom-card .custom-content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.section3-container .custom-card:hover .custom-content {
  top: 130px;
  height: 270px;
}

.section3-container .custom-card .custom-content .section3-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.section3-container .custom-card .custom-content .section3-subtitle {
  color: #fff;
}

.section3-container .custom-card .custom-content .services-btn {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #181818;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  animation: blinking 1s infinite;
}
@keyframes blinking {
  0% {
    
    border: 0.7px solid rgb(242, 242, 242) ;
  }
  50% {
    
    border: 1.9px solid rgb(242, 242, 242) ;

  }
  100% {
    
    border: 0.7px solid rgb(242, 242, 242) ;

  }
}

.section3-container .custom-card .custom-content .services-btn:hover {
  opacity: 0.8;
  color: #000;
  background-color: #fff;
  font-weight: 800;
}

@media (max-width: 768px) {
  .section3-container .custom-card {
    width: 230px;
    border-radius: 15px;
  }

  .section3-container .custom-card .img-box {
    width: 185px;
    border-radius: 10px;
  }

  .section3-container .custom-card .custom-content .section3-subtitle {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .section3-container .custom-card .custom-content .services-btn {
    font-size: 14px;
    font-weight: 600;
  }
  .custom-card {
    margin-top: 32px;
  }
}

/* Cleaning and Cooking Blog styling */
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.blog-img {
  margin: 5px 0;
  width: 95%;
}

.blog-subtitle {
  text-align: justify;
  padding: 10px;
}
.mobileview-blog-carousel {
  width: 95%;
}

.blog-Container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.blog-img1:hover,
.blog-img2:hover,
.blog-img3:hover {
  box-shadow: 1px 8px 20px black;
  transition: box-shadow 0.3s ease-in;
}
.blog-img1,
.blog-img2,
.blog-img3 {
  height: 30%;
  margin: 5px;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.blog-img1 {
  align-self: flex-end;
}
.blog-img3 {
  align-self: flex-start;
}

/*Extra Small Devices - <576px*/
@media screen and (max-width: 576px) {
  .blog-title {
    font-family: "Roboto";
    font-size: 32px;
  }
  .blog-subtitle {
    font-size: 20px;
  }
  .blog-Container2 {
    display: none;
  }
}

/*Small Devices*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .blog-title {
    font-size: 45px;
  }
  .blog-subtitle {
    font-size: 24px;
  }
  .blog-Container2 {
    display: none;
  }
}
/*Medium Devices*/
@media screen and (min-width: 769px) and (max-width: 992px) {
  .blog-section {
    flex-direction: row;
    align-items: center;
    height: 50vh;
  }
  .blog-title {
    font-size: 35px;
  }
  .blog-subtitle {
    font-size: 22px;
  }

  .mobileview-blog-carousel {
    display: none;
  }
  .blog-Container1 {
    width: 40%;
  }
  .blog-Container2 {
    width: 60%;
  }
  .cookingblog1{
    order: 0;
  }
  .cookingblog1{
    order: 1;
  }
}
/*Large and Extra Large Devices*/
@media screen and (min-width: 992px) {
  .blog-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
  }
  .blog-title {
    font-size: 45px;
  }
  .blog-subtitle {
    font-size: 24px;
  }
  .mobileview-blog-carousel {
    display: none;
  }
  .blog-Container1 {
    width: 40%;
  }
  .blog-Container2 {
    width: 50%;
  }
  
  .cookingblog1{
    order: 0;
  }
  .cookingblog1{
    order: 1;
  }
}
