.gallery-title {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Montserrat";
  padding: 20px;
  color: #00144f;
  font-weight: bold;
  letter-spacing: 0.9px;
  font-size: 42px;
}

.gallery-section{
  background-image: url("/src/assets/gallery-bg.webp");
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.foot-gap {
  height: 20px;
}

.album {
  width: 100%;
}

.album .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.album .responsive-container-block.bg {
  justify-content: space-between;
}

.album .img {
  width: 100%;
  margin: 0 0 20px 0;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  border-radius: 20px;
}

.album .responsive-container-block.img-cont {
  flex-direction: column;
  max-width: 33.3%;
  min-height: auto;
  margin: 0;
  height: 100%;
}

.album .img-big {
  height: 100%;
  max-height: 510px;
  margin: 0 0 16px 0;
}

@media (max-width: 1024px) {
  .album .img {
      margin: 0 0 18px 0;
  }
}

@media (max-width: 768px) {
  .album {
      width: 100%;
  }

  .album .img {
      max-width: 22.5%;
      margin: 2px;
  }

  .album .responsive-container-block.bg {
      flex-direction: column;
  }

  .album .responsive-container-block.img-cont {
      max-width: 100%;
      flex-direction: row;
      justify-content: center;
  }

  .album .img.img-big {
      max-width: 39%;
      margin: 10px;
  }
}

@media (max-width: 500px) {
  .album .img {
      max-width: 94%;
      margin: 0 0 25px 0;
  }

  .album .responsive-container-block.img-cont {
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }

  .album .img.img-big {
      max-width: 94%;
      margin: 0 0 25px 0;
  }

  .album .img.img-last {
      margin: 0 0 5px 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.album .img:nth-child(odd) {
  animation-delay: 0.5s;
}

.album .img:nth-child(even) {
  animation-delay: 1s;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
      width: 8.333333%;
  }

  .wk-ipadp-2 {
      width: 16.666667%;
  }

  .wk-ipadp-3 {
      width: 25%;
  }

  .wk-ipadp-4 {
      width: 33.333333%;
  }

  .wk-ipadp-5 {
      width: 41.666667%;
  }

  .wk-ipadp-6 {
      width: 50%;
  }

  .wk-ipadp-7 {
      width: 58.333333%;
  }

  .wk-ipadp-8 {
      width: 66.666667%;
  }

  .wk-ipadp-9 {
      width: 75%;
  }

  .wk-ipadp-10 {
      width: 83.333333%;
  }

  .wk-ipadp-11 {
      width: 91.666667%;
  }

  .wk-ipadp-12 {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
      width: 8.333333%;
  }

  .wk-tab-2 {
      width: 16.666667%;
  }

  .wk-tab-3 {
      width: 25%;
  }

  .wk-tab-4 {
      width: 33.333333%;
  }

  .wk-tab-5 {
      width: 41.666667%;
  }

  .wk-tab-6 {
      width: 50%;
  }

  .wk-tab-7 {
      width: 58.333333%;
  }

  .wk-tab-8 {
      width: 66.666667%;
  }

  .wk-tab-9 {
      width: 75%;
  }

  .wk-tab-10 {
      width: 83.333333%;
  }

  .wk-tab-11 {
      width: 91.666667%;
  }

  .wk-tab-12 {
      width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
      width: 8.333333%;
  }

  .wk-mobile-2 {
      width: 16.666667%;
  }

  .wk-mobile-3 {
      width: 25%;
  }

  .wk-mobile-4 {
      width: 33.333333%;
  }

  .wk-mobile-5 {
      width: 41.666667%;
  }

  .wk-mobile-6 {
      width: 50%;
  }

  .wk-mobile-7 {
      width: 58.333333%;
  }

  .wk-mobile-8 {
      width: 66.666667%;
  }

  .wk-mobile-9 {
      width: 75%;
  }

  .wk-mobile-10 {
      width: 83.333333%;
  }

  .wk-mobile-11 {
      width: 91.666667%;
  }

  .wk-mobile-12 {
      width: 100%;
  }
}

.img-sec{
  max-height: 220px;
  height: 100%;
}

.img-last{
  height: 270px;
}

@media screen and (max-width:768px){
  .img-sec{
    min-height: 280px;
  }
}

@media screen and (min-width:1300px){
  .album .img-big{
    max-height: 650px;
  }
}

@media screen and (min-width:768px) and (max-width:1100px){
  .gallery-section{
    height: 100vh;
  }
}