.mainContainer {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.section1 {
  background-image: url("/src/assets/main-bg.webp");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.section1-leftcontent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section1-leftcontent {
    width: 100%;
    align-items: center;
    order: 1;
  }
}
.section1-rightcontent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .section1-rightcontent {
    width: 100%;
  }
}
.section1-mainLogo {
  width: 100%;
  margin: 10px;
}
.section1-heading {
  font-size: 100px;
  /* font-family: "Cormorant Infant"; */
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(0deg, #1d1d1d 0%, #15d4d4 100%);
  background-clip: text;
  color: transparent;
}
@media screen and (max-width: 768px) {
  .section1-heading {
    font-size: 60px !important;
    text-align: center;
  }
}
.section1-title {
  font-size: 30px;
  padding: 1%;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #dbdbdb;
  min-width: 450px;
  width: 100%;
  max-width: 550px;
  font-weight: 600;
  word-spacing: 3.9px;
}
@media screen and (max-width: 576px) {
  .section1-title{
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .section1-title {
    text-align: center;
    font-size: 24px;
  }
}
.section1-subtitle {
  padding: 1%;
  font-size: 22px;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .section1-subtitle{
    font-size: 17px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .section1-subtitle {
    text-align: center;
    font-size: 16px;
  }
}
.section1-button-link{
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 45px;
  width: 180px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.section1-button {
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 180px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}
.section1-button:hover {
  background-color: transparent;
  color: #38b49d;
  border: 0px solid #000;
  font-weight: 600;
  border-radius: 6px;
}


.scrollToServicesIcon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  background-color: transparent;
}

.scrollToServicesIcon::before,
.scrollToServicesIcon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #6ecbdd;
  animation: wave 2s infinite ease-in-out;
}

.scrollToServicesIcon::before {
  animation-delay: -0.5s;
}

@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.scrollToServicesIcon:hover::before,
.scrollToServicesIcon:hover::after {
  animation: none; /* Stop animation on hover */
}

.scrollToServicesIcon:hover {
  background-color: #6ecbdd; /* Change background color on hover */
}

.arrow-icon{
  color: rgb(45, 45, 45);
}

.review-image-container{
  text-align: center;
}

.review-rating-image{
  min-height: 150px;
  height: 100%;
  max-height: 450px;
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

@media screen and (min-width:1200px){
  .review-rating-image{
    max-width: 900px;
  }
}