.Tfeedback-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  padding: 5%;
  justify-content: space-between;
  background-image: radial-gradient(#e3e9f2, white);
}

.Tsub-feedback-1 {
  position: relative;
  width: 45%;
  height: 50vh;
  min-height: 300px;
  max-height: 350px;
  background-image: linear-gradient(to right, #f2f3e4, #6ecbdd);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  animation: TfadeInLeft 1s forwards; /* Apply animation here */
}

.Tsub-feedback-1.Tanimate__fadeInLeft {
  animation: TfadeInLeft 1s forwards;
}

.Tsub-feedback-2 {
  overflow: hidden; /* Add this to hide the overflow */
  width: 45%;
  height: 50vh;
  min-height: 300px;
  max-height: 500px;
  background-color: transparent;
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 10px;
  animation: TfadeInRight 1s forwards;
}
.Tsub-feedback-2.Tanimate__fadeInRight {
  animation: TfadeInRight 1s forwards;
}
.Tfeedback-heading {
  font-size: 40px;
  text-align: center;
  color: #333;
}

.Tfeedback-item {
  padding: 20px;
  background-image: linear-gradient(to right, #f2f3e4, #6ecbdd);
  border-radius: 10px;
  margin-bottom: 20px;
}

.Trating-icon {
  color: #f39c12;
  font-size: 25px;
}

.Tcontainer {
  position: relative;
  display: inline-block;
}

.Tbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Tbutton:hover {
  background-color: #0056b3;
}

.Tdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.feedback-para{
  font-weight: bold;
}

.Tform1 {
  width: 100%; /* Make the form occupy 100% of the container */
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Titem-card:hover .Tform1 {
  opacity: 1;
}

.Tform1 input,
.Tform1 textarea,
.Tform1 button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.Tform1 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Tform1 button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .Tsub-feedback-2,
  .Tsub-feedback-1 {
      width: 100%;
  }
  .Tsub-feedback-2 {
    min-height: 400px;
    max-height: 410px;
  }
  .Tfeedback-heading {
      font-size: 20px;
  }

  .Tfeedback-item {
      padding: 15px;
  }

  .Tfeedback-container {
      flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .Tform1 {
      width: 100%;
      left: 0;
      transform: none;
  }
}

.Titem-card-container {
  margin: 3%;
}

.Titem-card {
  position: relative;
  width: 100%; /* Reduced card width */
  height: 300px; /* Reduced card height */
  perspective: 1000px;
}

.Titem-card-front,
.Titem-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.Titem-card-front {
  transform: rotateY(0deg);
}

.Titem-card-back {
  transform: rotateY(180deg);
}

.Titem-card:hover .Titem-card-front {
  transform: rotateY(-180deg);
}

.Titem-card:hover .Titem-card-back {
  transform: rotateY(0deg);
}

.Titem-food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.Tfood-items {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust as needed */
  margin-top: 20px; /* Margin for the entire list */
}

.Titem-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  height: 240px;
  text-align: center;
  border-width: 0px;
}

/* Animation Keyframes with "T" prefix */
@keyframes TfadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes TfadeInRight {
  from {
      opacity: 0;
      transform: translateX(100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
