.why-choose-us-image {
    height: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s, transform 1s;
  }
  
  @media screen and (max-width:768px) {
    .why-choose-us-image {
      min-height: 250px;
      max-height: 450px;
      height: 100%;
    }
  }
  
  .show {
    opacity: 1;
    transform: translateX(0);
  }