.why-choose-us-image {
    /* height: 650px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  @media screen and (max-width:768px) {
    .why-choose-us-image {
      min-height: 250px;
      max-height: 450px;
      height: 100%;
    }
  }
  
