.singlePage {
  height: 100vh;
}
.contactus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 91.3%;
  background: url("../../assets/profilebg.webp");
  background-size: cover;
}
.contactus-title {
  font-size: 32px;
  font-family: "Bree Serif";
  color: #000;
}
.contactus-subtitle {
  color: #000;
  font-size: 20px;
  margin-top: 15px;
  width: 70%;
  text-align: center;
}

@media screen and (max-width:768px){
  .contactus-subtitle{
    font-size: 18px;
  }
}
.contactus-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contactpage-img {
  width: 45%;
}
@media screen and (max-width:768px){
  .contactpage-img{
    display: none;
  }
}
.contactus-form {
  background-image: radial-gradient(rgb(195, 210, 216), rgb(22, 169, 159));
  border: 1px solid #000;
  border-radius: 10px;
  width: 40%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

@media screen and (max-width:768px){
  .contactus-form{
    width: 80%;
  }
}
.user-input {
  border: 0;
  outline: 0;
  margin-left: 10px;
  font-size: 16px;
  color: #0e564c;
  background-color: transparent;
  font-family: "Bree Serif";
}

.submit-form {
  background-color: #0e564c;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Bree Serif";
  cursor: pointer;
  margin-top: 10px;
}
.submit-form:hover {
  background-color: #205962;
  font-weight: bold;
}
