.Outcontainer{
  font-family: "Chakra Petch", sans-serif;
  width: 100vw;
  text-align: center;
}
.about-us-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}
.aboutHeading{
  font-size: 36px;
}
.aboutpara{
  font-size: medium;
  padding-top: 2em;
}
.images-container{
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.image-box{
  height: 500px;
  width: 300px;
  text-align: center;
}
.image{
  width: 100%;
  height: 300px;
}
.personname{
  font-weight: bold;
  font-size: 20px;
}
.personposition{
  font-size: 15px;
}
.miniheading{
  padding-top: 10px;
}
.note{
  background-color: chocolate;
  margin-top: 20px;
  padding: 3px;
}