/* Sticky header styles */
.sticky-header {
   margin: 0px;
    width: 100%;
    background-image:linear-gradient(to right, #6d9ab9,white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* height: 55px; */
    height: 20%;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Contact info styles */

  .contact-info {
    text-align: center;
    display: flex;
    align-items: center;
  }

  .contact-info span{
    color: white;
    margin-right: 10px;
  }
  
  .contact-info a {
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
    display: flex;
  }
  .contact-info a div{
    padding: 2px 4px 2px 3px;
    font-size: 15px;
  }

  /* .contact-info a i{
    margin-right: 10px;
  } */
  
  .contact-info a:last-child {
    margin-right: 0;
  }
  
  /* Social icons styles */
  .header-social-icons {
    /* transition: 1s transform; */
    align-content: center;
    display: flex;
    margin-bottom: 10px;
  
  }
 
  .header-social-icons .container-icons{
    width: 15px;
    height: 15px;
    margin: 10px;
  }
  .header-social-icons .container-icons a {
    /* font-family: "Barlow Condensed", sans-serif; */
    /* text-decoration: none; */
    color: aliceblue;
    margin-left: 10px;
    font-size: 25px;
  }
  .header-social-icons .container-icons a svg{
    transition: 0.5s transform;
  }
  
  /* Animation */
  svg:hover{
    transform: scale(1.5); /*Increase size on hover*/
  }
  
 
  
  /* Responsive styles */
  @media (max-width: 780px) {

    .header-division{
      display: none;
    }

    .row {
      flex-direction: column;
      align-items: center;
      /*margin-bottom: 20px;*/
    }
    
    .header-social-icons{
      margin-top: 15%;
    }

    .header-social-icons{
      text-align: center;
    }

  }
  
  @media (max-width: 440px) {
    .contact-info{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-info span{
        display: none;
    }
    
  }

  .contact-info-mobile-number{
    font-family: "Montserrat";
    color: black;
  }

  .contact-info-email{
    font-family: "Montserrat";
    color: black;
  }


  .instagram-icon {
    background-image: linear-gradient(135deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040,#777737,#FCAF45, #FFDC80);
    background-size: 600% 600%;
    animation: gradientBG 10s ease infinite;
    border-radius: 5px;
    color: white;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0%  50%;
      }
}

.facebook-icon{
  color: #316FF6;
}

.youtube-icon{
  color: #FF0000;
}

.whatsapp-icon{
  color: #25D366;
}

.twitter-icon{
  color: black;
}

.phone-email-icon{
  margin-top: 2px;
  color: black;
  font-size: 18px;

}

