.section2 {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .section2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.carousel {
  width: 40%;
  background-color: transparent;
  padding-left: 0px;
}

@media screen and (max-width: 786px) {
  .carousel {
    width: 70%;
    padding: 10px;
  }
}

.carousel-img {
  width: 100%;
  border-top-right-radius: 80px;
}
.section2-content {
  width: 40%;
}

@media screen and (max-width: 786px) {
  .section2-content {
    width: 90%;
  }
}
.section2-heading {
  font-family: "Roboto";
  font-size: 38px;
  color: black;
  padding: 10px;
  text-align: left;
}
.section2-subtitle {
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-family: "Noto Sans Glagolitic", sans-serif;
  color: black;
}
@media screen and (max-width:768px) {
  .section2-subtitle{
    font-size: 18px;
  }
}

.section-2-btn {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  height: 45px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.section-2-btn:hover {
  background: transparent;
  border: 0.5px solid black;
}
.slick-next,
.slick-prev {
  display: none !important;
}

.carousel-img{
  height: 450px;
  border-radius: 0px;
  border-top-right-radius: 95px;
  background-color: transparent;
}

@media screen and (max-width:768px){
  .carousel-img{
    height: 250px;
  }
  .section2-heading{
    font-size: 28px;
  }
  .section2-subtitle{
    font-size: 12px;
  }
  .section-2-btn{
    margin: 0px;
    padding: 5px;
    margin-bottom: 10px;
    width: 120px;
    margin-left: 5px;
    height: 30px;
  }
}