* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide scrollbar for all elements */

/* Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 0;
}

/* Firefox */
*::-moz-scrollbar {
  width: 0;
}

/* Internet Explorer */
*::-ms-scrollbar {
  width: 0;
}
