.ServicesSection {
  background-image: url('/src/assets/reviews-bg.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 89%;
  width: 100vw;
}


.ServicesSection-heading {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Montserrat";
  padding: 20px;
  color: #00144f;
  font-weight: bold;
  letter-spacing: 0.9px;
  font-size: 42px;
}

.ServicesSection-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}

.ServicesSection-card-element {
  margin-bottom: 50px;
  min-width: 300px;
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0.8px 0.9px 3px grey;
  transition: box-shadow 0.6s ease-out;
}

.ServicesSection-card-element:hover {
  box-shadow: 1px 8px 20px grey, 0 0 20px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.6s ease-out;
}

.ServicesSection-card-image {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.ServicesSection-card-heading {
  font-size: 34px;
  font-family: "Montserrat";
  margin-top: 15px;
  color: #00144f;

}

.ServicesSection-card-subtitle {
  padding: 10px;
  font-size: 18px;
  font-family: "sans-serif";
  color: #313030;
}

.ServicesSection-btn {
  margin-bottom: 25px;
  background-color: rgb(31, 100, 156);
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 22px;
  box-shadow: 5px 5px 5px rgb(81, 81, 81);
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
}

.ServicesSection-btn:hover {
  background-color: #a7ddfa;
  color: #000;
  border: none;
}

@media screen and (max-width: 768px) {
  .ServicesSection-cards-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .ServicesSection-card-element {
    min-width: 500px;
    margin-top: 0;

  }
}

@media screen and (max-width:500px) {
    .ServicesSection-card-element{
      min-width: 300px;
    }
}