.initial-container{
    background-image: url("/src/assets/gallery-bg.webp");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.initial-container-1, .initial-container-2{
    padding: 2%;
    width: 50%;
}
.reset-in-mail-image{
    width: 80%;
    background-size: cover;
}

.reset-initial-info-description{
    color: rgb(38, 38, 38);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.change-password-container{
    background-image: url("/src/assets/gallery-bg.webp");
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.change-password-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 15px 10px gray, -5px 0px 20px rgb(128, 128, 128);
    border: 1px solid gray;
    border-radius: 55px;
    height: 60%;
    width: 40%;
}

.change-password-image{
    height: 450px;
    width: 450px;
}

.change-password-heading{
    padding: 10px;
    font-family: "Montserrat";
    padding: 20px;
    color: #00144f;
    font-weight: bold;
    letter-spacing: 0.9px;
    font-size: 42px;
    text-align: center;
}

.change-password-description{
    padding: 4px;
    margin-bottom: 10px;
    color: rgb(77, 77, 77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.change-password-input-label{
    align-self: flex-start;
    color: rgb(46, 46, 46);
    margin-left: 60px;
    font-family: "Montserrat";
}

.change-password-input{
    padding: 12px;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 6px;
    width: 350px;
    margin: 10px;
    cursor: text;
    color: black;
    background-color: transparent;
    width: 80%;
}

.change-password-btn{
    background-color: rgb(63, 82, 177);
    border: 0px solid;
    padding: 12px;
    width: 250px;
    cursor: pointer;
    outline: none;
    color: #fff;
    margin: 10px;
    border-radius: 6px;
    width: 40%;
    font-weight: 400;
}

.change-password-btn:hover{
    background-color: #1e497b;
    color: white;
    box-shadow: 5px 5px 5px gray;
}

@media screen and (max-width: 500px) {
    .change-password-container{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .change-password-form-container{
        width: 90%;
        max-width: 350px;
    }
    .change-password-input{
        width: 90%;
    }
    .change-password-btn{
        min-width: 80px;
        width: 25%;
    }
}

@media screen and (max-width:700px){
    .initial-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        text-align: center;
    }

    .initial-container-1, .initial-container-2{
        padding: 2%;
        width: 100%;
    }
    
    .reset-in-mail-image{
        width: 290px;
        height: 290px;
        background-size: cover;
    }

    .change-password-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reset-initial-info-description{
        font-size: 20px;
        font-weight: 400;
    }

    .reset-in-mail-image{
        height: 220px;
        width: 220px;
    }

    .change-password-image{
        margin: 10px;
        height: 250px;
        width: 240px;
        background-size: cover;
    }
}

@media screen and (max-width:768px){
    .change-password-image {
        height: 420px;
        width: 360px;
        background-size: cover;
    }

    .change-password-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .change-password-form-container{
        width: 80%;
        height: 60%;
    }
}

.change-password-input:focus{
    outline: none;
}